<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.lynnchurch.assist">

    <permission
        android:name="lynnchurch.permission.LIBRARY_PROVIDER"
        android:description="@string/library_provider_permission_description"
        android:label="manage library"
        android:protectionLevel="normal" />

    <uses-permission android:name="lynnchurch.permission.MANAGE_BOOKS" />
    <uses-permission android:name="lynnchurch.permission.MESSENGER" />

    <application
        android:name="me.lynnchurch.assist.TargetApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name="me.lynnchurch.assist.activity.MainActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lynnchurch.intent.category.OK" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.lynnchurch.assist.activity.AActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.ACTION_OK" />

                <category android:name="lynnchurch.intent.category.BOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.lynnchurch.assist.activity.BActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.ACTION_OK" />
                <action android:name="lynnchurch.intent.action.FIRST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.lynnchurch.assist.activity.CActivity"
            android:allowTaskReparenting="true"
            android:configChanges="orientation|screenSize"
            android:exported="true" />
        <activity
            android:name="me.lynnchurch.assist.activity.DActivity"
            android:configChanges="orientation|screenSize">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.FIRST" />

                <category android:name="lynnchurch.intent.category.OK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />

            </intent-filter>
        </activity>

        <activity
            android:name=".activity.IPCActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <activity
            android:name=".activity.MessengerActivity"
            android:configChanges="orientation|screenSize"
            android:launchMode="singleTop" />

        <provider
            android:name=".provider.LibraryProvider"
            android:authorities="me.lynnchurch.assist.provider"
            android:permission="lynnchurch.permission.LIBRARY_PROVIDER"
            android:exported="true"
            android:process=":provider" />
    </application>

</manifest>