<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="me.lynnchurch.assist">

    <application
        android:name="me.lynnchurch.assist.TargetApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name="me.lynnchurch.assist.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="lynnchurch.intent.category.OK" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="me.lynnchurch.assist.activity.AActivity">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.ACTION_OK" />

                <category android:name="lynnchurch.intent.category.BOK" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="me.lynnchurch.assist.activity.BActivity">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.ACTION_OK" />
                <action android:name="lynnchurch.intent.action.FIRST" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="me.lynnchurch.assist.activity.CActivity"
            android:allowTaskReparenting="true"
            android:exported="true" />
        <activity android:name="me.lynnchurch.assist.activity.DActivity">
            <intent-filter>
                <action android:name="lynnchurch.intent.action.FIRST" />

                <category android:name="lynnchurch.intent.category.OK" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/*" />

            </intent-filter>
        </activity>
    </application>

</manifest>